<div class="profile-container">
	<div class="profile-info d-flex m-2">
		<img class="playlist-image me-3 rounded-circle" style="width: 25vh; height: 25vh" src="<%= process.env.DEFAULT_PROFILE_IMAGE_PATH %>" alt="image" />
		<div>
			<h2>Vladislavs Teclavs</h2>
			<p>Description</p>
		</div>
	</div>
</div>

<div class="playlist-menu">
	<div class="row-title">
		<h3>Top listened playlists:</h3>
	</div>

	<div id="playlistSlider" class="splide" style="width: 100%">
		<div class="splide__track">
			<ul class="splide__list">
				<% for (let i = 1; i < 6; i++) { %>
				<li class="splide__slide">
					<div class="card">
						<div class="card-img-top">
							<img src="./images/album.jpg" alt="playlist" class="card-img-top" />
							<button class="play-playlist-button">
								<i class="fa-solid fa-play"></i>
							</button>
						</div>
						<div class="card-body">
							<h6 class="card-title">Playlist Title <%= i %></h6>
						</div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>

<div class="track-container mt-3">
	<div class="row-title">
		<h3>My top 10 tracks:</h3>
	</div>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">name</th>
					<th scope="col">album</th>
					<th scope="col">time</th>
					<th scope="col">date created</th>
				</tr>
			</thead>
			<tbody>
				<tr class="">
					<td>1</td>
					<td>TrackName</td>
					<td>album</td>
					<td>1:33</td>
					<td>01-01-0001</td>
				</tr>
				<tr class="">
					<td>1</td>
					<td>TrackName</td>
					<td>album</td>
					<td>1:33</td>
					<td>01-01-0001</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="playlist-menu">
	<div class="row-title">
		<h3>My public playlists:</h3>
	</div>

	<div id="playlistSlider" class="splide" style="width: 100%">
		<div class="splide__track">
			<ul class="splide__list">
				<% for (let i = 1; i < 6; i++) { %>
				<li class="splide__slide">
					<div class="card">
						<div class="card-img-top">
							<img src="./images/album.jpg" alt="playlist" class="card-img-top" />
							<button class="play-playlist-button">
								<i class="fa-solid fa-play"></i>
							</button>
						</div>
						<div class="card-body">
							<h6 class="card-title">Playlist Title <%= i %></h6>
						</div>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>