<div class="container my-4">
	<!-- Privacy settings -->
	<form class="mb-4">
		<h3>Privacy Settings</h3>
		<div class="row align-items-center mb-3 settings-row">
			<label class="col-8 col-form-label" for="show-favorites">Show favorite tracks</label>
			<div class="col-4">
        <label class="switch">
          <input type="checkbox" id="show-favorites" checked>
          <div class="slider"></div>
          <div class="slider-card">
            <div class="slider-card-face slider-card-front"></div>
            <div class="slider-card-face slider-card-back"></div>
          </div>
        </label>
			</div>
		</div>

		<div class="row align-items-center mb-3 settings-row">
			<label class="col-8 col-form-label" for="show-listen-history">Show listening history</label>
			<div class="col-4">
        <label class="switch">
          <input type="checkbox" id="show-listen-history">
          <div class="slider"></div>
          <div class="slider-card">
            <div class="slider-card-face slider-card-front"></div>
            <div class="slider-card-face slider-card-back"></div>
          </div>
        </label>
			</div>
		</div>

    <div class="row align-items-center mb-3 settings-row">
			<label class="col-8 col-form-label" for="show-top-tracks">Show you top 10 tracks</label>
			<div class="col-4">
        <label class="switch">
          <input type="checkbox" id="show-top-tracks">
          <div class="slider"></div>
          <div class="slider-card">
            <div class="slider-card-face slider-card-front"></div>
            <div class="slider-card-face slider-card-back"></div>
          </div>
        </label>
			</div>
		</div>

    <div class="row align-items-center mb-3 settings-row">
			<label class="col-8 col-form-label" for="show-other-playlists">Show your liked playlists</label>
			<div class="col-4">
        <label class="switch">
          <input type="checkbox" id="show-other-playlists">
          <div class="slider"></div>
          <div class="slider-card">
            <div class="slider-card-face slider-card-front"></div>
            <div class="slider-card-face slider-card-back"></div>
          </div>
        </label>
			</div>
		</div>

    <div class="row align-items-center mb-3 settings-row">
			<label class="col-8 col-form-label" for="show-my-playlists">Show your (created)playlists</label>
			<div class="col-4">
        <label class="switch">
          <input type="checkbox" id="show-my-playlists" checked>
          <div class="slider"></div>
          <div class="slider-card">
            <div class="slider-card-face slider-card-front"></div>
            <div class="slider-card-face slider-card-back"></div>
          </div>
        </label>
			</div>
		</div>

    <div class="row align-items-center mb-3 settings-row">
			<label class="col-8 col-form-label" for="show-my-friends">Show my friends</label>
			<div class="col-4">
        <label class="switch">
          <input type="checkbox" id="show-my-friends" checked>
          <div class="slider"></div>
          <div class="slider-card">
            <div class="slider-card-face slider-card-front"></div>
            <div class="slider-card-face slider-card-back"></div>
          </div>
        </label>
			</div>
		</div>
	</form>
	<hr />
	<!-- Profile settings -->
	<form>
		<h3>Account Settings</h3>
		<div class="row align-items-center mb-3 settings-row">
			<label for="username" class="col-4 col-form-label">Username</label>
			<div class="col-8">
				<input type="text" class="form-control" id="username" placeholder="Username" />
			</div>
		</div>
		<div class="row align-items-center mb-3 settings-row">
			<label for="avatar" class="col-4 col-form-label">Avatar</label>
			<div class="col-8">
				<input type="file" class="form-control" id="avatar" />
			</div>
		</div>
		<div class="row align-items-center mb-3 settings-row">
			<label for="password" class="col-4 col-form-label">Password</label>
			<div class="col-8">
				<input type="password" class="form-control" id="password" placeholder="Enter new password" />
			</div>
		</div>
		<div><input type="button" class="btn btn-outline-primary" value="Submit" /></div>
	</form>
</div>
