<!--start header-->
<header class="top-header">
	<nav class="navbar navbar-expand align-items-center gap-4 background-grey-1">
		<div class="btn-toggle">
			<a href="javascript:;"><i class="fa-solid fa-bars fa-xl"></i></a>
		</div>

		<ul class="navbar-nav gap-1 align-items-center w-100">
			<li class="nav-item dropdown ms-auto">
				<a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
					<img src="<%= process.env.IMAGE_PATH + user.image_path %>" class="user-image rounded-circle p-1" width="45" height="45" alt="" onerror="getDafaultProfileImage(this)"/>
				</a>
				<div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
					<a class="dropdown-item gap-2 py-2" href="javascript:;">
						<div class="text-center">
							<img src="<%= process.env.IMAGE_PATH + user.image_path %>" class="user-image rounded-circle p-1 shadow mb-3" width="90" height="90" alt="" onerror="getDafaultProfileImage(this)"/>
							<h5 class="mb-0 fw-bold">Hello, <span class="user-name"><%= user.username %></span></h5>
						</div>
					</a>
					<hr class="dropdown-divider" />
					<a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/profile" data-link><i class="fa-solid fa-user"></i>Profile</a>
					<a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/settings" data-link><i class="fa-solid fa-gear"></i>Setting</a>
					<hr class="dropdown-divider" />
					<a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/logouot"><i class="fa-solid fa-right-from-bracket" style="color: #d7193f"></i>Logout</a>
				</div>
			</li>
		</ul>
	</nav>
</header>
<!--end top header-->